<configuration debug="true">

    <!-- see also: https://doc.akka.io/docs/akka/2.5/logging.html -->

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--
            encoders are by default assigned the type
            ch.qos.logback.classic.encoder.PatternLayoutEncoder
        -->
        <encoder>
            <!--
                Seems not possible to change the Akka logging pattern with SLF4J, so we defer here
                https://stackoverflow.com/questions/24696793/akka-logging-pattern-unchangeable
            -->
            <pattern>[%-5level] [%date{ISO8601}] [%thread] [%logger{36}] %msg%n</pattern>
<!--
            <pattern>%-5level %date{ISO8601} %logger{36} %X{sourceThread} - %msg%n</pattern>
-->
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/log/leaderboard-log-${bySecond}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>[%-5level] [%date{ISO8601}] [%thread] [%logger{36}] %msg%n</pattern>
        </encoder>
        <outputPatternAsHeader>true</outputPatternAsHeader>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <facility>USER</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
        <syslogHost>localhost</syslogHost>
    </appender>

    <!--
        When using Akka, use AsyncAppender
    -->

    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
<!--
        <queueSize>1024</queueSize>
-->
    </appender>

    <appender name="ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
<!--
        <queueSize>1024</queueSize>
-->
    </appender>

    <!-- When using Akka, use AsyncAppender -->
    <appender name="ASYNC-SYSLOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SYSLOG" />
<!--
        <queueSize>1024</queueSize>
-->
    </appender>

    <!-- https://gatling.io/docs/3.0/general/configuration/ -->
    <!-- uncomment and set to DEBUG to log all failing HTTP requests -->
    <!-- uncomment and set to TRACE to log all HTTP requests -->
    <logger name="io.gatling.http.engine.response" level="DEBUG" />
    <logger name="it.gatling.package$" level="DEBUG" />

    <!-- When using Akka, use AsyncAppender -->
    <root level="info">
        <appender-ref ref="ASYNC-CONSOLE" />
        <appender-ref ref="ASYNC-FILE" />
        <appender-ref ref="ASYNC-SYSLOG" />
    </root>
</configuration>